.board-row{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.main-container{
  margin:20px;
}
.main-square{
  border: 1px solid black;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}